.next
dist
out
node_modules
coverage
*.lock
*.ico
*.png
*.jpg
*.jpeg
*.svg
*.webp
*.gif
*.ttf
*.woff
*.woff2
*.eot
public/
.next/
coverage/
dist/
out/
node_modules/
*.min.js
*.min.css
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
